*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}
.box {
    width: 300px;
    height: 300px;
    margin: 20px;
    background: salmon;
    /* position: absolute;
    top: 50%;
    left: 50%; */
   
    transform: translateY(300px) rotate(45deg) skew(50deg);

    /* transform: skew(50deg, 50deg); */
    /* transform: scale(0.2); */
    /* transform: rotate(130deg); */
    /* transform: translateY(-150px); */
    
}